/* Paleta de colores:
#000000 #121212 #F5c518 #FFFFFF*/

*{
    color:#FFFFFF
}
.gradient1{background-image: linear-gradient(to top, #2e2e2e, transparent)}

#socialBar{
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    margin:3px;
}

.iconSocial{
    text-decoration: none;
    padding-left:5px ;
    
}
.iconInsta:hover{
    padding-left: 1.5rem;
    width: 85%;
}
.iconFacebook:hover{
    padding-left: 1.5rem;
    width: 85%;
}
.iconTwitter:hover{
    padding-left: 1.5rem;
    width: 85%;
}

.navOption:hover{
  text-shadow: 2px 2px 5px #999;
  filter: drop-shadow(2px 2px 5px #999);
}

.logo {
    border-radius: 50%;
    margin: 1rem;
  }

  .modal_styles {
    text-decoration: none;
    color: var(--blueColor);
  }
  .modal_styles:hover {
    color: var(--redColor);
  }
  .ModalPass {
    opacity: 0.8;
  }

  .FondoPass {
    overflow: hidden;
    filter: saturate(40%) contrast(1.7);
    max-height: 60vh;
  }
  
  .FondoPass img {
    position: relative;
    top: -12rem;
  }